.listScreen {
    background-color: grey;
    height: 100vh;
    color: white;
}


.scrollingDiv{
    padding-top: 275px;
    height: 700px;
    overflow: auto;
    overflow-x: hidden;
    margin-left: 40px;
}

.imgContainer img {
    width: 150px;
    height: 200px;
}

.movieContainer {
    margin-bottom: 10px;
    display: flex;
}

.descContainer {
    flex: 1;
    margin-left: 15px;
}

.descH3 {
    width: 50%;
    margin-top: 15px;
}

.playTrailer_bttn {
    margin-top: 15px;
    border: none;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    cursor: pointer;
    color: white;
    outline: none;
    font-weight: 700;
    background-color: rgba(51, 51, 51, 0.5);
}

.playTrailer_bttn:hover {
    color: black;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.videoPlayer_holder {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    display: flex;
    transition: all 0.3s;
}

.videoPlayer_holder .video {
    width: 60%;
    height: 50%;
    max-width: 1000px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.3s;
    margin: auto;
}
.videoPlayer_holder .close {
    position: absolute;
    top: 15%;
    right: 20%;
    font-size: 40px;
    cursor: pointer;
    color: white;
}
.videoPlayer_holder.show {
    pointer-events: all;
    opacity: 1;
}
.videoPlayer_holder.show .video {
    transform: scale(1);
}