.loginScreen {
    position: relative;
    height: 100%;
    background: url("https://imgs.search.brave.com/ZwZXRQYKe3NwsaMtETwYyUTcQESrbt4yBIzcVLiD3To/rs:fit:1200:674:1/g:ce/aHR0cHM6Ly9taXJv/Lm1lZGl1bS5jb20v/bWF4LzEyMDAvMSps/OWRJdk9WSDVLaHBL/MUxGdmdvQ2xBLmpw/ZWc") center no-repeat;
    background-size: cover;
}

.loginScreen_logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.loginScreen_button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.loginScreen_gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen_body {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color:white;
    padding: 20px;
    right: 0;
    left: 0;
   
}

.loginScreen_body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.loginScreen_body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.loginScreen_body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}

.loginScreen_input > form {
    display: flex;
    width: fit-content;
}
.loginScreen_input form {
   margin-left: auto;
   margin-right: auto;
}
.loginScreen_input > form > input{
    padding: 10px;    
    outline-width: 0;
    height: 30px;
    width: 30vw;
    border: none;
    max-width: 600px;
}
.loginScreen_input {
    margin: 20px;
}

.loginScreen_getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    background: #e50914;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 500px){
    .loginScreen_body {
        top: 15%;
    }
    .loginScreen_body > h1{
        font-size: 2.75rem;
    }
    .loginScreen_body > h2{
        font-size: 1.625rem;
        font-weight: 400;
    }
    
    .loginScreen_body > h3{
        font-size: 0.925rem;
    }
}
    
@media screen and (max-width: 400px){
    .loginScreen_body {
        top: 15%;
    }
    .loginScreen_body > h1{
        font-size: 2.5rem;
    }
    .loginScreen_body > h2{
        font-size: 1.375rem;
        font-weight: 400;
    }
    
    .loginScreen_body > h3{
        font-size: 0.675rem;
    }
    .loginScreen_input form {
        display: block;
    }
    .loginScreen_input {
        height: fit-content;
    }
    .loginScreen_getStarted {
        font-size: 12px;
    }
    .loginScreen_logo {
        width: 120px;
    }
    .loginScreen_button {
        font-size: 0.9rem;
    }
    
}