.signInScreen {
    display: flex;
    height: 100%;
    background: url("https://imgs.search.brave.com/ZwZXRQYKe3NwsaMtETwYyUTcQESrbt4yBIzcVLiD3To/rs:fit:1200:674:1/g:ce/aHR0cHM6Ly9taXJv/Lm1lZGl1bS5jb20v/bWF4LzEyMDAvMSps/OWRJdk9WSDVLaHBL/MUxGdmdvQ2xBLmpw/ZWc") center no-repeat;
    background-size: cover;
}

.signInScreen_logo {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.signInScreen_button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.signInScreen_gradient {
    width: 100vw;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.signInScreen_body {
    position: absolute;
    top: 20vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color:white;
    padding: 20px;
    right: 0;
    left: 0;
   
}

.signInScreen_body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}
.signInScreen_body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.signInScreen_body > h3{
    font-size: 1.3rem;
    font-weight: 400;
}

.signInScreen_input > form > input{
    padding: 10px;    
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.signInScreen_input {
    margin: 20px;
}

.signInScreen_getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    background: #e50914;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.signInScreen_bodyContainer {
    max-width: 300px;
    background: rgba(0, 0, 0, 0.85);
    padding: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

.signInScreen_bodyContainer > form {
    display: flex;
    flex-direction: column;
}

.signInScreen_bodyContainer > form > input {
    outline-width: 0;
    height: 40px;
    margin-bottom: 14px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px;
}
.signInScreen_bodyContainer > form > h1 {
    text-align: left;
    margin-bottom: 25px;
}

.signInScreen_bodyContainer > form > button {
    padding: 16px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.signInScreen_bodyContainer > form > h4 {
    text-align: left;
    margin-top: 25px;
}
.signInScreen_gray {
    color: gray;
    margin-right: 5px;
}

.signInScreen_link:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 500px){
    .signInScreen_bodyContainer form h1 {
        font-size: 7vw;
    }
    .signInScreen_bodyContainer {
        padding: 40px;
    }
}
@media screen and (max-width: 300px){
    .signInScreen_bodyContainer form h1 {
        font-size: 7vw;
    }
    .signInScreen_logo {
        width: 120px;
    }
    .signInScreen_button {
        font-size: 0.9rem;
    }
}