.castContainer {

    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(85, 83, 83, 0.5), rgba(0, 0, 0, 0));
    padding: 0px 40px;
    
}
.castInfo {
    height: fit-content;
    padding: 6px;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    
}

.castInfo::-webkit-scrollbar {
    display: none;
}

.actorName {
    text-align: center;
}
.actorContainer {
    margin-right: 40px;
    width: 100%;
    
}
.actorImg {
    height: 150px;
    width: 120px;
    border-radius: 50%;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 600px){
    .actorImg {
        height: 130px;
        width: 100px;
    }
}
@media screen and (max-width: 400px){
    .castContainer {
        padding: 5%;
    }

}